<div class="container panel panel-success rtl">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="panel col-lg-8">
      <div [hidden]="user">
        <h1>הזמנת תור </h1>
        <h2 *ngIf="userName">
          שלום: {{userName}} 
          <p>התור שיקבע הוא ל: {{activeQueue}} </p>
        </h2>

        <label for="phone">אנא הזן את מספר הפלאפון </label>
        <br> 
        <!-- +16505551234|123456 -->
        <input type="text" class="form-control" [(ngModel)]="phoneNumber.country" placeholder="05x-XXX-XXXX" maxlength="13">
        <br>
        <!-- <input type="text" [(ngModel)]="phoneNumber.area"     class="input" placeholder="949"  maxlength="3">
    <input type="text" [(ngModel)]="phoneNumber.prefix"   class="input" placeholder="555"  maxlength="3">
    <input type="text" [(ngModel)]="phoneNumber.line"     class="input" placeholder="5555" maxlength="4"> -->
        <div id="recaptcha-container"></div>
        <br>
        <button class="btn btn-primary" (click)="sendLoginCode(phoneNumber.country)">קוד בSMS</button>
        <br>
        <div *ngIf="windowRef.confirmationResult">
          <hr>
          <label for="code">הקלד את מספר האימות</label>
          <br>
          <input type="text" name="code" [(ngModel)]="verificationCode">
          <br>
          <button class="btn btn-secondery" (click)="verifyLoginCode()">אמת</button>
        </div>
      </div>
      <div *ngIf="user">
        <h2>התור נקבע בהצלחה !</h2>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>


</div>
