<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div [hidden]="isLoggedIn"  >
        <h1>Login To Your Account</h1>
        <button class="btn btn-default" (click)="login()">Login With Google</button>
      </div>
    </div> 
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{{userIcon}}" alt="...">
          <div class="caption">
            <h3>{{displayName}} </h3>
            <p>Logged In: {{displayName}} </p> 
          </div>
        </div>
      </div>   
  </div>
</div>