<div class="panel panel-default">
  <div class="panel-heading text-right">מסתפרים כעת</div>
  <div class="panel-body">
    <table class="manageList">
      <tr>
        <td>

          <table class="aqTable">
            <tbody>
              <!-- {dpick: Wed Nov 22 2017 00:00:00 GMT+0200 (Eastern Europe Standard Time), barber: "Gid"} -->

              <tr *ngFor="let q of currentQueues;let i=index" [class.highlighted]="q === highlightedRow">
                <td class="aqDel"> 
                  <i (click)="deleteAq(q)" class="fa fa-minus-circle"> מחק</i>
                </td>
                <td class="aqLine">
                  <i  [class]="q.isActive ? 'fa fa-scissors' : 'fa fa-bed'" >&nbsp;</i>{{q.queueDate}} | {{q.client}}  </td>
                <div class="ml-1">
                  <!-- <mat-checkbox [(ngModel)]="version2" name="versionControl" (change)="rowClick(q,$event)">ממתין לאישור {{versionText}}</mat-checkbox> -->
                  <mat-checkbox  name="activeQ-{{i}}" [checked]="q.isActive" (change)="rowClick(q)" >{{versionText}}</mat-checkbox>  
                  <!-- <input type="checkbox" name="activeQ-{{i}}" [checked]="q.isActive" (change)="rowClick(q)" /> -->
                </div>
                <td>
                </td>
                <!-- <div *ngIf="edited"  > 
                    <count-down [text]="text" units="Minutes | Seconds" end="{{q.queueDate }}"></count-down>
                </div> -->
              </tr>

            </tbody>
          </table>
        </td>
        <!-- <td class="fa fa-circle">b</td>  -->
      </tr>
    </table>
    <div>
    </div>
  </div> 
