.highlighted i.glyphicon.glyphicon-time:before {
    color: green;
}
.manageList {
    float: right;
}
.aqTable{
    tbody{
        tr{
            td{
                padding: 0px 10px;
                &.aqLine{
                    .fa-bed{
                         margin-right: 4px;
                    }
                }
            }
        }
    }
}