<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="row">
        <div class="col-lg-3"> 
          <a class="navbar-brand logo" routerLink="./">Barbershop</a> 
          <div class="row pull-right" *ngIf="checkUserLoggedIn()"> 
            <a class="icon-bar navbar-brand fa fa-sign-out" href="#" (click)="onLogout()">התנתקות מנהל</a>
          </div>
        </div> 
      <div class="col-lg-9">
        <div class="navbar-header" *ngIf="langData.navbar">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar" routerLink="/insta-gallery"></span>
            <span class="icon-bar" routerLink="/queue"></span>
            <span class="icon-bar" routerLink="/login"></span>
          </button> 
          <a class="navbar-brand contact" href="tel:+9720542492555">{{langData.navbar.contact}} <i class="fa fa-phone"></i></a> 
          <!-- <a class="navbar-brand insta" routerLink="/inst\a-gallery">{{langData.navbar.insta}}   <i class="fa fa-instagram"></i></a> -->
          <a class="navbar-brand mange" routerLink="/queue">{{langData.navbar.mange}}  <i class="fa fa-wrench"></i></a>  
        </div>
      </div>
    </div> 
  </div> 
</nav>
