.rightMenu {
  margin: 8px 5% 0px;
}
.logo {
  color: #f9b938;
  font-weight: bold;
  font-size: 22px;
  /* text-shadow: -2px 0px 2px #9e9b9b;*/
}
.logo:before {
  content: "";
  background: transparent url('../../assets/barbershop.png') no-repeat center;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 40%;
  background-size: 100% auto;
  top: 0px;
}
div.navbar-header {
  float: right;
}
.mange:hover i.fa.fa-wrench {
  transform: rotate(90deg);
  transition: 0.5s ease all;
  color: #337ab7;
}
.insta:hover i.fa.fa-instagram {
  color: #ff000070;
  transform: scaleX(-1);
  transition: 0.5s ease all;
}
.contact:hover i.fa.fa-phone {
  color: #000001;
  transform: scaleX(-1);
  transition: 0.5s ease all;
}
.navbar .navbar-header > a:hover {
  text-shadow: 1px -2px 3px #bfbfbf;
}
@media only screen and (max-width: 410px) {
  .navbar-brand:not(.logo) {
    padding: 15px 8px;
    float: right;
    font-size: 14px;
  }
}
