<div class="container panel ">
  <div class="instaTitle">
    <img class="instaImg"  src="https://seeklogo.com/images/I/instagram-new-2016-glyph-logo-84CB825424-seeklogo.com.png"
      alt="">
      <img class="instaImgTitle" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/640px-Instagram_logo.svg.png" alt="">
  </div>
  <!-- <p> {{ photos._body.data | json}}</p>  --> 
  <div class="row">
    <div *ngFor="let insta of instaObj" class="col-lg-3 col-xs-6  col-sm-6 instaWrapper items">  
        <span class="helper"></span>
      <img class="instaBox" src="{{insta.images.standard_resolution.url}}" alt=""> 
      <!-- <div>{{insta.caption.text}}</div> -->
    </div>
  </div>
</div>
 

<!-- #access_token=14968333.78c8230.b38cf63650e846c9b3e13d2d7ec03086 -->
