.instaTitle {
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 1px solid black;
    padding-bottom: 19px;
}
.instaWrapper
{
    height: 400px; 
    text-align: center;
}
.instaBox
{
    height:360px;
}
img.instaBox {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid black;
    display: inline-block;
    width: auto;
    height: auto;
    box-shadow: 3px 2px 0px black;
} 
.instaImg
{
    max-width: 70px;
}
.instaImgTitle
{
    max-width: 290px;
}