<div class="container">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-3 text-center"> 
        <h1>כניסת מנהלים</h1>
        <form #f="ngForm" (ngSubmit)="save(f.value)">
          <div class="form-group  text-right">
            <label for="email"  >אימייל </label>
            <input type="text" [(ngModel)]="Email" name="Email" class="form-control" id="email" required>
          </div>
          <div class="form-group  text-right">
            <label for="password"  >סיסמא</label>
            <input type="text" [(ngModel)]="password" type="password" name="password" class="form-control" id="password" required>
            <span id="errormessage"></span>
          </div>

          <button type="submit" class="btn btn-success">התחבר</button>

        </form> 
    </div>
  </div>
  <!-- <button (click)="login()" class="btn btn-primary">Login</button> -->
