/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~animate.css/animate.css";     

.cursor
{
    cursor: pointer;
}
.rtl
{
    direction: rtl;
}

.queueTable tr {
    cursor: pointer;
}
table.queueTable tr:hover {
    color: #337ab7;
}
home mat-checkbox {
    display: none;
}
home td.aqDel {
    display: none;
} 
.owl-dt-popup,.owl-dt-popup-container{
    width:293px;
    owl-date-time-container
    {
        padding: 10px;
        width:100%;
        owl-date-time-calendar{
            height:auto;
            .owl-dt-calendar-table {
                .owl-dt-calendar-header{
                    .owl-dt-weekdays {
                        th{
                            font-size: 0.9em;
                        }
                    }
                }
            }
        } 
    } 
}
/*calnder overrides*/
.owl-dt-popup-container .owl-dt-calendar{
    height:auto;
}