<div class="container rtl">
  <div class="row">
    <div class="col-lg-9">
      <div class="panel queues">
        <!-- Default panel contents -->
        <div class="panel-heading text-right">בחירת תור

          <div class="sortFilter" *ngIf="!step2"> 
            <select  class="form-control form-control-sm" [(ngModel)]="sortorder">
              <option value="date">תאריך</option>
              <option value="name">שם הספר</option>
            </select>
          </div>
        </div>
        <div class="row queuesBoxes">
          <!-- suppuesd to filter queses that pass from today -->
          <!-- <div class="col-xs-6 col-sm-2 " *ngFor="let q of queues |filterQueues:q; let i=index" pageScroll href="#awesomePart" -->
          <div class="col-xs-6 col-sm-2 queuebox" *ngFor="let q of queues | orderBy:sortorder;let i=index" pageScroll href="#awesomePart"
            (click)="rowClick(q,$event)" [class.highlighted]="q === highlightedRow">
            <div class="thumbnail">
              <!-- https://angular.io/api/common/DatePipe -->
              <div class="caption" *ngIf="!step2">
                <span class="badge">{{i+1}}</span>
                <p class="text-center">
                 <b> שם הספר</b> {{q.barberName }}
                </p>
                <p class="text-center">
                  <b>  תאריך</b>
                  {{q.queueTime | date:'dd/MM/yy' }} </p>
              </div>
              <div class="caption" *ngIf="step2">
                <p>
                  {{q.queueTime| date:'shortTime'}} </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12" *ngIf="step2">
            <button class="btn btn-primary pull-left" (click)="backBtn($event)">
              חזור
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <active-queues [activeInput]="activeInput"></active-queues>
      <!-- <insta-gallery [instaInput]="instaInput"></insta-gallery>  p-->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default queueView">
        <div class="panel-body">
          <div class="media">
            <div class="media-body" id="awesomePart">
              <h4 class="media-heading">{{queuePanel.barberName}}</h4>
              {{queuePanel.queueTime| date:'dd/MM/yy' }}
            </div>
            <div class="media-right">
              <a class="userBox" href="#">
                <img class="media-object" src="/assets/userIcon.png" alt="...">
              </a>
            </div>
            <label>שם הלקוח </label>
            <div class="row">
              <div class="col-lg-12">
                <input [(ngModel)]="userName" #uName="ngModel" required name="userName" [disabled]="isInvalid()"
                  type="text" class="form-control" placeholder="אנא הזן את שמך המלא">
                <!-- error Message -->
                <div class="alert alert-danger" *ngIf="uName.invalid && uName.touched">
                  אנא הזן שם תקין.
                </div>
              </div> 
            </div>
            <br>
            <button [disabled]="isInvalid() || !uName.valid" routerLink="/phone-login"
              [queryParams]="{user: userName,date:queuePanel.queueTime,queueKey:queuePanel.$key }"
              class="btn btn-primary ">הזמן</button> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
