img.media-object {
    max-width: 45px;
}
.highlighted { 
    color: #337ab7;
}
.thumbnail{
    cursor: pointer;
}
.thumbnail:hover{
    
}
/* .thumbnail:hover{
    background:transparent url("../../assets/haircutter.png")center top no-repeat ;
    background-size: 46%;
} */
.highlighted .thumbnail{
border:1px solid #337ab7;
}
.panel-heading
{
    border: 1px solid #d5d5d5;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

.queueView{
    border-color: #337ab7;
    border: 2px solid #337ab7;
}  
.queuesBoxes .queuebox{
float: right;
}
.queuebox .thumbnail:hover{
    box-shadow: 0px 3px 2px #e0bbbb;
}
 .queues{
     .sortFilter{
        width: 200px;
        float: left;
     }
 }