<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <mat-tab-group>
        <mat-tab label="זמן אמת">
          <active-queues [activeInput]="activeInput"></active-queues>
        </mat-tab>
        <mat-tab label="רשימת תורים">
          <div>
            <table class="rtl table ">
              <thead>
                <tr>
                  <th class="text-right">מספר תור</th>
                  <th class="text-right">שם הספר</th>
                  <th class="text-right">תאריך</th>
                  <th class="text-right">מחיקה</th>
                </tr>
              </thead>
              <tbody>
                <!-- {dpick: Wed Nov 22 2017 00:00:00 GMT+0200 (Eastern Europe Standard Time), barber: "Gid"} -->
                <tr *ngFor="let q of queues; let i=index">
                  <!-- <td class="text-right">{{q.dateCreated}}</td> -->
                  <td class="text-right">{{i+1}}</td>
                  <td class="text-right">{{q.barberName }}</td>
                  <td class="text-right">{{q.queueTime }}</td>
                  <td class="text-right">
                    <button class="btn btn-danger" (click)="deleteQueue(q.$key)">מחיקת תור</button>
                  </td>
                </tr>
                <tr>
              </tbody>
            </table>
          </div>
        </mat-tab>
        <!-- <mat-tab label="Tab 4">Content 2</mat-tab> -->
      </mat-tab-group>
    </div>
    <div class="col-lg-3">
      <h2>יצירת תאריך התור</h2> 

      <!-- validationform -->
      <form class="form-horizontal" role="form"  #formData="ngForm"  (ngSubmit)="formData.valid && save(formData.value)">
        <fieldset>  
          <div class="form-group"> 
              <input [min]="min" [max]="max" [owlDateTimeTrigger]="datepicker" [owlDateTime]="datepicker" type="text"
                [(ngModel)]="queues.dpick"  
                required name="dpick" #dpick="ngModel" class="form-control">
              <owl-date-time #datepicker></owl-date-time>
              <div *ngIf="dpick.invalid && formData.submitted">
                <span style="color: red;">אנא הזן תאריך</span>
              </div>
            </div>
          <div class="form-group">
            <select class="form-control" name="barber" [(ngModel)]="queues.barber" #barber="ngModel" required> 
              <option>Sam</option>
              <option>Gid</option>
            </select> 
            <div *ngIf="barber.invalid && formData.submitted">
              <span style="color: red;">אנא בחר ספר.</span>
            </div>
          </div>
          <div class="form-group">  
              <div class="col-sm-offset-2 col-sm-10">  
                <div class="pull-right">  
                  <button type="submit" class="btn btn-primary" style="margin: 4px;">Save</button>  
                  <!-- <button type="reset" class="btn btn-default">Reset</button>   -->
                </div>  
              </div>  
            </div>  
        </fieldset>
      </form> 
    </div>
  </div>
</div>